---
layout: archive
title: "Joining the Lab"
permalink: /join/
author_profile: true
---
<h2> Interested in joining the team? </h2>
<b> We are currently recruiting for Fall 2021, Winter 2022 and Fall 2022.</b>
<b> We welcome students from any training background, including <u>kinesiology</u>, <u>engineering</u>, <u>computer science</u>, <u>neuroscience</u> and <u>physiology</u>. We are committed to equity, diversity and inclusion and believe diversity adds to the richness and innovation of the lab.</b>

<h3> Current positions available in the lab:</h3>
<ul>
  <li> MSc students</li>
  <li> PhD students</li>
  <li> Post-doctoral fellows</li>
</ul>
<p>  </p>

<h3> For MSc and PhDs, preference will be given to students with:</h3>
<ul>
  <li> proven excellent written and oral communication skills in English</li>
  <li> working knowledge in or established programming experience (e.g., Python, R and/or Matlab)</li>
  <li> a minimum grade point average of A-</li>
  <li> a "team player" mindset</li>
  <li> an eagerness to immerse themselves in self-directed learning</li>
 </ul>
<p>  </p>
Students interested in applying can email Dr. Al-Khazraji directly with their CV, unofficial transcript, and a letter highlighting:
<ul>
  <li> research interest(s) </li>
  <li> educational background and research experience (if available) </li>
  <li> what aspects of the lab/research projects interest them </li>
  <li> a time they had to overcome a challenge or solve a difficult problem</li>
</ul>
<p>  </p>
Due to the volume of emails, Dr. Al-Khazraji will contact the top candidates for an interview and the selected candidates will then be asked to apply to the McMaster University Department of Kinesiology Graduate Program.
<p>  </p>
<h3> For prospective postdoctoral fellows, please contact Dr. Al-Khazraji directly to discuss application to fellowship funding competitions.</h3>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
