---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---


<p>Our research aims to understand blood flow behaviour in healthy aging, exercise, and across disease states.</p>
<p>We focus on: 1) micro- and macro-vascular network topology, morphology, and function in peripheral and cerebral vascular beds, 2) investigating relationships between cardiovascular and cerebrovascular function in healthy and at-risk populations, and relationships between vascular function and cognitive outcomes, 3) AI-based (i.e., machine and deep learning) approaches to vascular imaging. We use multi-modal approaches (e.g., duplex and transcranial Doppler ultrasound, MRI, functional near-infrared spectroscopy with diffusion correlation spectroscopy, pupillometry) to better visualize and assess vascular responses to various stimuli.</p>

<h3>Ongoing projects in the lab (last updated Jan. 2021):</h3>

<ul>
  <li>Characterizing cerebrovascular and cardiovascular disease risk in older adults and at-risk populations (e.g., osteoarthritis patients)</li> 
  <li>Characterizing cerebrovascular function in cardiac patients undergoing cardiac rehabilitation</li>
  <li>Micro- and macrovascular vascular network feature analyses</li>
  <li>Automation of cerebrovascular imaging analyses</li>
  <li>Cerebrovascular segmentation and classification from MRI images</li>
  <li>Large-scale physiological testing online</li>
</ul> 

<h3>Click <a href="https://pubmed.ncbi.nlm.nih.gov/?term=al-khazraji+b&sort=date" target="_blank">here</a> for a full list of publications.</h3> 

We are very grateful to have received national funding to support our ongoing research and to establish an integrative research lab with infrastructure that supports questions related to understanding hemodynamics in health and disease.
<img src="/images/NSERC_RGB.png" alt="NSERC logo" width = "200">
<img src="/images/CFI_CMYK.png" alt="CFI logo" width = "400">
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
