---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---


<p>Our research aims to understand blood flow behaviour in healthy aging, exercise, and across disease states.</p>
<p>We focus on: 1) micro- and macro-vascular network topology, morphology, and function in peripheral and cerebral vascular beds, 2) investigating relationships between cardiovascular and cerebrovascular function in healthy and at-risk populations, and relationships between vascular function and cognitive outcomes, 3) AI-based (i.e., machine and deep learning) approaches to vascular imaging. We use multi-modal approaches (e.g., duplex and transcranial Doppler ultrasound, MRI, functional near-infrared spectroscopy with diffusion correlation spectroscopy, pupillometry) to better visualize and assess vascular responses to various stimuli.</p>

<h3>Ongoing projects in the lab (last updated Jan. 2021):</h3>

<ul>
  <li>Characterizing cerebrovascular and cardiovascular disease risk in older adults and at-risk populations (e.g., osteoarthritis patients)</li> 
  <li>Characterizing cerebrovascular function in cardiac patients undergoing cardiac rehabilitation</li>
  <li>Micro- and macrovascular vascular network feature analyses</li>
  <li>Automation of cerebrovascular imaging analyses</li>
  <li>Cerebrovascular segmentation and classification from MRI images</li>
  <li>Large-scale physiological testing online</li>
</ul> 

<h3>Click <a href="https://pubmed.ncbi.nlm.nih.gov/?term=al-khazraji+b&sort=date" target="_blank">here</a> for a full list of publications.</h3> 

<p>  </p>
<h1> Prospective trainees </h1>
<b> We are currently recruiting for Fall 2021, Winter 2022 and Fall 2022.</b>
<b> We welcome students from any training background, including kinesiology, engineering, computer science, neuroscience and physiology.</b>

<h3> Current positions available in the lab:</h3>
<ul>
  <li> MSc students</li>
  <li> PhD students</li>
  <li> Post-doctoral fellows</li>
</ul>
<p>  </p>

<h3> For MSc and PhDs, preference will be given to students with:</h3>
<ul>
  <li> proven excellent written and oral communication skills in English</li>
  <li> working knowledge in or established programming experience (e.g., Python, R and/or Matlab)</li>
  <li> a minimum grade point average of A-</li>
  <li> a "team player" mindset</li>
  <li> an eagerness to immerse themselves in self-directed learning</li>
 </ul>
<p>  </p>
Students interested in applying can send their CV, unofficial transcript, and a letter highlighting:
<ul>
  <li> research interest(s) </li>
  <li> educational background and research experience (if available) </li>
  <li> what aspects of the lab/research projects interest them </li>
  <li> a time they had to overcome a challenge or solve a difficult problem</li>
</ul>
<p>  </p>
Dr. Al-Khazraji will contact the top candidates for an interview and the selected candidates will then be asked to apply to the McMaster University Department of Kinesiology Graduate Program.
<p>  </p>
<h3> For prospective postdoctoral fellows, please contact Dr. Al-Khazraji directly to discuss application to fellowship funding competitions.</h3>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
