---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
I teach two undergraduate courses, and one graduate course.
<p> </p>
<h3>Cardiovascular Disease: Pathophysiology and Rehabilitation</h3>
<u>
   <li>course code: KINESIOL 4B03</li>
   <li>level: 4th year undergraduate</li>
   <li>term: Winter</li>
</u>
Course information available <a href="https://www.science.mcmaster.ca/kinesiology/undergraduate/undergrad-course-outlines/level-4-outlines.html" target="_blank"
   title="Link to 4th year course outlines in Dept. of Kinesiology at McMaster University">here.</a>

<p> </p>
<h3>Cardiovascular Physiology of Exercise</h3>
<u>
   <li>course code: KINESIOL 3---</li>
   <li>level: 3rd year undergraduate</li>
   <li>term: Fall</li>
</u>
Course information available <a href="https://www.science.mcmaster.ca/kinesiology/undergraduate/undergrad-course-outlines.html" target="_blank"
   title="Link to 4th year course outlines in Dept. of Kinesiology at McMaster University">here (coming soon).</a>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
