---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
I teach two undergraduate courses, and one graduate course.
<p> </p>
<h1>Cardiovascular Disease: Pathophysiology and Rehabilitation</h1>
course code: KINESIOL 4B03
level: 4th year undergraduate
course information available <a href="https://www.science.mcmaster.ca/kinesiology/undergraduate/undergrad-course-outlines/level-4-outlines.html">here</a>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
